@charset "utf-8";

body { display: grid; grid-template-columns: 2fr 1fr; background-color:black; color:green;  } 


section { display: grid;   } 




nav.horizontalNavigation li { display: block;
float: left; } 



